<form>
    <div class="container">
    <div class="mb-3">
      <input type="text" class="form-control"  placeholder="Enter Category Title Here">
    </div>
    <div class="des">
   <textarea class="form-control" rows="8"  placeholder="Enter Category Description Here"></textarea>
   </div> 
   <div class="button">
   <button type="Add Category" class="btn btn-primary">Add Category</button>
   </div>
   <div class="button">
   <button type="Close" class="btn btn-primary">Close</button>
   </div>
</div>

  </form>