<div class=" container-flex">
    <div class="row container-fluid ">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/../../assets/user.jpg" alt="Card image cap">
            <div class="center">
              <h5 class="display-block">Users</h5>
            </div>
            <div class="a">
            <button type="button" routerLink="/list" class="align-self-end btn btn-lg btn-block btn-primary" style="margin-top: auto;">Get started
              
            </button>
          </div>
        </div>
      </div>
      <div class="row container-fluid ">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/../../assets/fast-foods.jpg" alt="Card image cap">
            <div class="center">
              <h5 class="display-block">Total Category</h5>
            </div>
            <div class="a">
              <button type="button" routerLink="/total-category" class="align-self-end btn btn-lg btn-block btn-primary" style="margin-top: auto;">Get started</button>
            </div>
          </div>
      </div>
      <div class="row container-fluid">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/../../assets/add.jpg" alt="Card image cap">
            <div class="center">
              <h5 class="display-block">Add Food</h5>
            </div>
            <div class="a">
              <button type="button" routerLink="/addfood" class="align-self-end btn btn-lg btn-block btn-primary" style="margin-top: auto;">Get started</button>
            </div>
          </div>
      </div>
</div>
<div class=" container-flex">
    <div class="row container-fluid ">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/../../assets/component.png" alt="Card image cap">
            <div class="center">
              <h5 class="display-block">Add Category</h5>
            </div>
            <div class="a">
              <button type="button" routerLink="/ac" class="align-self-end btn btn-lg btn-block btn-primary" style="margin-top: auto;">Get started</button>
            </div>
          </div>
      </div>
      <div class="row container-fluid ">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/../../assets/total.jpg" alt="Card image cap">
            <div class="center">
              <h5 class="display-block">Total Foods</h5>
            </div>
            <div class="a">
              <button type="button"  routerLink="/total-food" class="align-self-end btn btn-lg btn-block btn-primary" style="margin-top: auto;" >Get started</button>
            </div>
          </div>
      </div>
      
      </div>
    
